# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Package.resolved
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# Bundler / CocoaPods / Carthage / fastlane
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Localization backups
Localizable1.xcstrings
Localizable2.xcstrings
Localizable_副本.xcstrings

# Temporary files
*~
.tmp/
*.tmp
*.swp
*.swo

# Vendor dependencies
Vendor/
